<!DOCTYPE html>
<html lang="en">

<head charset="UTF-8">
    <title>2020solutionchallenge/poverty</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- stylesheet -->
    <link rel="stylesheet" type="" href="poverty.css">
    <!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
     <!-- bootstrap js  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>


<body>
     
    <nav class="navbar navbar-expand-lg navbar-light ab">
        <a href="" class="navbar-brand" style="font-family: 'Caveat', cursive;">Instigating Destitution</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
        <ul class="navbar-nav ml-auto ">
         
            <li class="nav-item"> <a href="#" class="nav-link">HOME</a> </li>
        
            <li class="nav-item"> <a href="" class="nav-link">Stance</a> </li>
        
            <li class="nav-item"> <a href="" class="nav-link">Hunger</a> </li>
        
            <li class="nav-item"> <a href="" class="nav-link">Education</a> </li>

            <li class="nav-item"> <a href="" class="nav-link">Donation</a> </li>

            <li class="nav-item"> <a href="" class="nav-link">Volunteer</a> </li>

            <li class="nav-item"> <a href="" class="nav-link">About US</a> </li>
        </ul>
   
        
    </div>
    </nav>
    <div id="Head">
        <h1 id="heading">National stance</h1>
        <h2 class="h">The poor need change, not your coins</h2>
        <h2 class="hh">Defeat POVERTY, not the ones cursed by IT</h2>



    </div>



     

    <div class="grid m ">
        
            <p>
                As India is one of the fastest-growing economies in the world, poverty is on the decline in the country, with close to 18 Indians escaping extreme poverty every minute,
                 as per the World Poverty Clock. India has 86.8 million people living in extreme
            poverty which makes up ~6% of its total population as of early 2021.  In May 2012, the World Bank reviewed and proposed revisions to their poverty calculation methodology
             and purchasing power parity basis for measuring poverty worldwide.
            It was a minimal 3.6% in terms of percentage. As of 2020, the incidence of multidimensional poverty has significantly reduced from 54.7 percent in 2005 to 27.9 percent in 
            2015-16. According to United Nations Development Programme Administrator
            Achim Steiner, India lifted 271 million people out of poverty in a 10-year time period from 2005/06 to 2015/16. <br>
            Since the 1950s, the Indian government and non-governmental organisations have initiated several programs to alleviate poverty, including 
            subsidising food and other necessities, increased access to loans, improving agricultural techniques and price supports, promoting education,
             and family planning. These measures have helped eliminate famines, cut absolute poverty levels by more than half, and reduced illiteracy and malnutrition.

            Although the Indian economy has grown steadily over the last two decades, its growth has been uneven when comparing social groups, economic groups, geographic regions, and
             rural and urban areas. For the year 2015–16, the GSDP growth rates of Andhra Pradesh, Bihar and Madhya Pradesh was higher than Maharashtra, Odisha or Punjab.
              Though GDP growth rate matters a lot economically, the debate is moving towards another consensus in India, where unhealthy infatuation with GDP growth matters less and 
              holistic development or all-inclusive growth matters more. While India may well be on the path to eradicating extreme poverty, it still lags well behind in other 
              important development indicators, even in comparison to some of its neighbouring countries, especially in regard to health and education.
            
            Despite significant economic progress, one quarter of the nation's population earns less than the government-specified poverty threshold of 32 per day (approximately US$ 0.6).
            
            According to the 2001 census, 35.5% of Indian households used banking services, 35.1% owned a radio or transistor, 31.6% a television, 9.1% a phone, 43.7% a bicycle, 11.7% a
             scooter, motorcycle or a moped, and 2.5% a car, jeep or van; 34.5% of the households had none of these assets.
              According to Department of Telecommunications of India, the phone density reached 73.34% by December 2012 and as an annual growth decreased by −4.58%.
               This tallies with the fact that a family of four with an annual income of ₹137,000 (US$1,900) could afford some of these luxury items.
        
        </p>
        <img  class="i"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSz_w0psrXhPhGZJVzxGo6rSgOkjow9Ox32IQ&usqp=CAU"  >

            
            <div class="footer">
        <a class="footer-linkbtn" align="center"  href="mailto:instigatingdestitution@gmail.com">Contact Team </a>
        <p>©2021 "Instigating Destitution"Team Created By: Vaishnavi, Tejas, Pragati and Smriti</p>
    </div>
            
        </div>