<!DOCTYPE html>
<html lang="en">

<head charset="UTF-8">
    <title>2020solutionchallenge/poverty</title>
    <link rel="stylesheet" href="C:\Users\PRI DI\Desktop\vsc\povertycss.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
</head>


<body>
    <table class="header">
        <tr>
            <td align="center">
                <table width="1000" border="0" align="center" cellpadding="1" cellspacing="1" >
                    <tr>
                        <td width="140"> <font face="Pacifico, cursive" color="white" ><a href="index.html">Home</a> </td>
                        <td width="140"> <font face="Pacifico, cursive" color="white" ><a href="pov.component.html">Motivation</a></td>
                        <td width="140"> <font face="Pacifico, cursive" color="white" ><a href="education.html">Education</a> </td>
                        <td width="140"> <font face="Pacifico, cursive" color="white" ><a href="donation.html">Donation</a></td>
                        <td width="140"> <font face="Pacifico, cursive" color="white" ><a href="hunger.html">Hunger</a></td>
                        <td width="140"> <font face="Pacifico, cursive" color="white" ><a href="volunteer.html">Volunteer</a></td>
                        <td class="aboutborder" width="140"> <font face="Pacifico, cursive" color="white" >About Us</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div id="Head">
        <h1 id="heading">POVERTY</h1>
        <h2 class="h">The poor need change, not your coins</h2>
        <h2 class="h2">Defeat POVERTY, not the ones cursed by IT</h2>



    </div>



     

    <div class="grid">
        <div class="m">
            <h3>Global Stance</h3>

            <p>At the dawn of the 21st century we are still a long way from achieving what has eluded humanity for thousands of years, a world free from hunger and poverty. The past thirty years, however, have brought us closer to reaching this goal in a
                large part of the developing world. The lives of millions have been transformed at a pace unparalleled in human history and to an extent that would have seemed unthinkable only a generation ago. However, there is no room for complacency.
                Even today, close to 1.2 billion people - a fifth of the world's population - continue to live in conditions of abject poverty. Almost 800 million people in the developing world are chronically hungry. A basic right, the right to adequate
                and nutritious food, which most people take for granted, remains a distant dream for those who fight with food shortages every day of their lives. The presence of deep poverty and hunger on such a vast scale in a world of apparent opulence
                is a moral outrage</p>
            <a href="poverty\gs.component.html">
                <button>read more</button>
            </a>

        </div>
        <div class="i">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/32/Countries_by_poverty_rate_world_bank_data.png" width="500px" height="300px">
        </div>
    </div>
    <div class="m">
        <h3>National Stance</h3>

        <p>As India is one of the fastest-growing economies in the world, poverty is on the decline in the country, with close to 18 Indians escaping extreme poverty every minute, as per the World Poverty Clock. India has 86.8 million people living in extreme
            poverty which makes up ~6% of its total population as of early 2021. [1] In May 2012, the World Bank reviewed and proposed revisions to their poverty calculation methodology and purchasing power parity basis for measuring poverty worldwide.[2]
            It was a minimal 3.6% in terms of percentage. As of 2020, the incidence of multidimensional poverty has significantly reduced from 54.7 percent in 2005 to 27.9 percent in 2015-16. [3] According to United Nations Development Programme Administrator
            Achim Steiner, India lifted 271 million people out of poverty in a 10-year time period from 2005/06 to 2015/16.</p>
        <a href="poverty\ns.component.html">
            <button>read more</button>
        </a>

    </div>
        
        <img class="beta" src="https://www.businessinsider.in/thumb/msid-78529842,width-600,resizemode-4,imgsize-35602/india/news/by-2021-as-many-as-150-million-people-likely-to-be-in-extreme-poverty-due-to-covid-19-world-bank/atul-pandey.jpg"  style="position:relative; bottom:400px; left:1000px">
        
        
    <div class="m" >
        <h3>Causes</h3>

        <h4>
            <ul>
                <li> Heavy pressure of population</li>
                <li>Unemployment and under employment</li>
                <li>Capital Deficiency</li>
                <li>Under-developed economy</li>
                <li>Increase in Price</li>
                <li>Net National Income</li>
                <li>Rural Economy</li>
                <li>Lack of Skilled Labour</li>
                <li>Deficiency of efficient Entrepreneurs</li>
                <li>Lack of proper Industrialisation</li>
                <li>Outdated Social institutions</li>
                <li>Improper use of Natural Resources</li>
                <li>Lack of Infrastructure</li>
            </ul>
        </h4>
        

    </div>
    <div class="m">
        <h3>Steps to Mitigate</h3>



        <h5>There are several international , governmental and non govermental policies and organisations that work to achieve the aim of reducing poverty. here using this website we aim to give a helping hand to all such organisations. using your support
            to provide better nutrition , Education. Everyone can help in a loy of different manners .</h5>

        <h4>CHOOSE TO HELP .... BREAK THE CYCLE OF POVERTY </h4>
        <p>
            <h5>CHOOSE how you want to help ... help with food or books or you want to volunteer to teach</h5>
        </p>

        <div class="bu">
            
        <a href="">
            <button>Hunger</button>
        </a>

        <a href="">
            <button>Education</button>
        </a>

        <a href="">
            <button>Donation</button>
        </a>

        <a href="">
            <button>Volunteer</button>
        </a>

        </div>

 
    </div>

    <div class="sp">
        <img src="https://assets.telegraphindia.com/telegraph/746f32a7-a552-4026-90fa-7ee88121563d.jpg" height="300px" wieght="700px">
    </div>

</body>




</html>
