<!DOCTYPE html>
<html lang="en">

<head charset="UTF-8">
    <title>2020solutionchallenge/poverty</title>
    <link rel="stylesheet" href="mot.css.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
</head>


<body>
    <table class="header">
        <tr>
            <td align="center">
                <table width="1000" border="0" align="center" cellpadding="1" cellspacing="1" >
                    <tr>
                        <td width="140"> <font face="Pacifico, cursive" color="white" ><a href="index.html">Home</a> </td>
                        <td width="140"> <font face="Pacifico, cursive" color="white" >Motivation</td>
                        <td width="140"> <font face="Pacifico, cursive" color="white" ><a href="education.html">Education</a> </td>
                        <td width="140"> <font face="Pacifico, cursive" color="white" >Donation</td>
                        <td width="140"> <font face="Pacifico, cursive" color="white" >Hunger</td>
                        <td width="140"> <font face="Pacifico, cursive" color="white" >Volunteer</td>
                        <td class="aboutborder" width="140"> <font face="Pacifico, cursive" color="white" >About Us</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div id="Head">
        <h1 id="heading">Global stance</h1>
        <h2 class="h">The poor need change, not your coins</h2>
        <h2 class="h2">Defeat POVERTY, not the ones cursed by IT</h2>



    </div>



     

    <div class="grid">
        <div class="m">
            

            <p>At the dawn of the 21st century we are still a long way from achieving what has eluded humanity for thousands of years, a world free from hunger and poverty. The past thirty years, however, have brought us closer to reaching this goal in a
                large part of the developing world. The lives of millions have been transformed at a pace unparalleled in human history and to an extent that would have seemed unthinkable only a generation ago. However, there is no room for complacency.
                Even today, close to 1.2 billion people - a fifth of the world's population - continue to live in conditions of abject poverty. Almost 800 million people in the developing world are chronically hungry. A basic right, the right to adequate
                and nutritious food, which most people take for granted, remains a distant dream for those who fight with food shortages every day of their lives. The presence of deep poverty and hunger on such a vast scale in a world of apparent opulence
                is a moral outrage</p> <br>
               
                    <a href="https://www.worldbank.org/en/publication/poverty-and-shared-prosperity" target="_blank" rel="noopener noreferrer">689 million people</a> live in extreme poverty, surviving on less than $1.90 a day.<br>
                    Children and youth account for two-thirds of the world’s poor, and women represent a majority in most regions.<br>
                    Extreme poverty is increasingly concentrated in sub-Saharan Africa. About 40% of the region’s people live on less than $1.90 a day.<br>
                    Extreme poverty <a href="https://openknowledge.worldbank.org/bitstream/handle/10986/34496/9781464816024.pdf">rates nearly doubled</a> in the Middle East and North Africa between 2015 and 2018, from 3.8% to 7.2%, mostly because of crises in <a href="/refugees-news-stories/syrian-refugee-crisis-facts">Syria</a> and <a href="/disaster-relief-news-stories/yemen-war-facts">Yemen</a>. <br>
                    Although countries impacted by fragility, crises, and violence are home to about 10% of the world’s population, they account for more than 40% of people living in extreme poverty. By 2030, an estimated 67% of the world’s poor will live in fragile contexts.<br>
                    About 70% of people older than 15 who live in extreme poverty have no schooling or only some basic education.<br>
                    1.3 billion people in 107 developing countries, which account for 22% of the world’s population, live in multidimensional poverty.<br>
                    644 million children are experiencing multidimensional poverty.<br>
                    
            
        </div>
        
         
    </div>
    <div class="footer">
        <a class="footer-linkbtn" align="center"  href="mailto:instigatingdestitution@gmail.com">Contact Team </a>
        <p>©2021 "Instigating Destitution"Team Created By: Vaishnavi, Tejas, Pragati and Smriti</p>
    </div>
    </body>
</html>
